@font-face {
  font-family: 'seoss';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'seoss';
}

::-webkit-scrollbar {
  display: none;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.zonewrap canvas {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  height: 80px;
  padding: 20px;
}

.logo {
  width: 300px;
  margin: 0 auto;
}

.logo img {
  width: 290px;
  cursor: pointer;
}

.camZone {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 20vw;
  height: 45vh;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.zonewrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home video {
  transform: scaleX(-1);
}

.cheese {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  background: none;
  padding: 20px 100px;
  border: solid gray 2px;
  color: gray;
  cursor: not-allowed;
  transition: 1.2s;
  border-radius: 10px;

}

#clickable {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background: none;
  padding: 20px 100px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

#clickable:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-color: white;
}

.home {
  width: 100vw;
  overflow: scroll;
  height: 100vh;
  float: left;
  position: relative;
}

.resultPage {
  width: 100vw;
  height: 100vh;
  float: left;
  position: relative;
}

.resultPage .camZone {
  width: 20vw;
  height: 45vh;
  top: 35%;
  left: 50%;
}

.faceLandmarks {
  width: 20vw;
  height: 45vh;
  top: 35%;
  left: 50%;
}

#capturedImage {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.resultPage #explain {
  width: 500px;
}




/* .swal2-popup {
  font-size: 20px;
} */